<div class="container">
    <div class="st-tit-pag">Entre em sua conta!</div>

    <form method="post">
        <input class="form-control mb-2" type="text" name="login"/>
        <input class="form-control mb-2" type="password" name="password"/>
        <input class="btn btn-secondary mb-2" type="submit" name="acao" value="Logar"/>
    </form>
</div>